$dark-900:#07080A;
$dark-800:#0E1014;
$dark-700:#16191F;
$dark-500:#1D2129;
$dark-500:#242933;
$dark-400:#50545C;
$dark-300:#7C7F85;
$dark-200:#A7A9AD;
$dark-100:#E9EAEB;

$green-900: #022B2B;
$green-800: #045755;
$green-700: #058280;
$green-500: #07AEAA;
$green-500: #09D9D5;
$green-400: #3AE1DD;
$green-300: #6BE8E6;
$green-200: #9DF0EE;
$green-100: #CEF7F7;


$sm:480px;
$md:768px;
$lg:1200px;

$smal:1rem;
$medium:2rem;
$large:3rem;
$superLarge:4rem;
$extraLarge:6rem;

